html {
    background: #f5f7f8;
    -webkit-font-smoothing: antialiased;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
}

.titulo {
    color: grey;
    font-size: 60px;
    font-weight: normal;
    
}
h1 {
    font-size: 50px;
    font-weight: lighter;
}

h2 {
    font-size: 30px;
    font-weight: lighter;
    justify-content: center;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: right;
    font-size: 20px;
}

.menu li {
    margin-right: 70px;
}

.menu a {
    position: relative;
    display: block;
    padding: 5px;
}

.menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #444444, #999999, #eeeeee);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.menu a:hover::before {
    transform: scaleX(1);
}

.slide {
    position: center, relative;
    box-shadow: 0px 1px 6px rgba(43, 43, 43, 0.64);
    margin-top: 26px;
    min-width: 600px;
    width: 1250;

}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(500px + 3em);
}

.slide-open:checked+.slide-item {
    position: static;
    opacity: 100;
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.slide-item img {
    display: block;
    max-height: auto;
    max-width: auto;
}

.slide-control {
    background: rgba(129, 128, 129, 0.64);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked~.control-1,
#slide-2:checked~.control-2,
#slide-3:checked~.control-3 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked~.control-1~.slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked~.control-2~.slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked~.control-3~.slide-indicador li:nth-child(3) .slide-circulo {
    color: #c453be;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Poppins', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

body {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    align-content: center;
}


.site-navigation {

    background-color: rgb(255, 255, 255);
    padding: 10px;
    max-width: max-content;
    height: 40px;
    display: inline-block;
    align-content: center;

}

.ColeccPas {
    width: 100%;
    max-width: 1240px;
    margin-left: auto;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;

}




.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 200px;
}

.container .card{
  background:white;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
  padding:20px;
    letter-spacing: 0.03em;
    line-height: 1.6;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
   
    width: 100%;
    height: 220px;
  content-align: center;
}


.container .card h4{
 
  font-weight: 800;
  Font-size:25px;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: pink;
  padding:10px;
  margin-bottom:20px;
}
