:root {
    --body-bg-color: #fff;
    --text-color: #000;
   }
  
  ul {
    list-style: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  body {
    margin: 30px 0;
    font: 22px montserrat;
    background: var(--body-bg-color);
    color: var(--text-color);
  }
  
  hr {
    border-color: var(--hr-color);
    margin: 20px 0;
  }
  
  .menu {
    display: flex;
    justify-content: center;
  }
  
  .menu li {
    margin-right: 70px;
  }
  
  .menu a {
    position: relative;
    display: block;
    padding: 5px;
  }
  
  .menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  
  .menu a:hover::before {
    transform: scaleX(1);
  }
  
  
  /* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .menu[data-animation="center"] a::before {
    transform-origin: center;
  }
  
  /*header*/
  body{
      max-width: 1300px;
      margin-left: auto;
      margin-right: auto;
      padding: 2rem;
  }
  header{
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      text-align:center;
      color: rgb(252, 252, 252);
      width: max-content ;
      border-radius: 1rem;
    
  }
  
  
  .site-navigation {
  
     background-color: rgb(255, 255, 255);
     padding: 10px;
     max-width: max-content;
     height: 40px;
     display:inline-block;
     align-content: center;
       
  }
  
  .site-navigation--menu {
   display:inline-block;
   box-sizing: border-box;
   align-content: center;
  }
  
  .elemento{
   display: inline-block;
   width: 100px;
   height: 30px;
   padding: 5px;
  }
  
  .site-navigation--menu.elemento {
    box-sizing: border-box;
     
     
   }
   .elemento a{
     display: inline-block;
     width: 100px;
     height: 30px;
     background-color: #E9E5FC;
     padding: 5px;  
     box-sizing: border-box;	
     
     
   }
  
   .elemento a:hover {
     
       background-color: paleturquoise;
       transition: background-color .5s;
       padding: 5px;
         }
  
  
  
  
  /*tarjetas*/
  
  .cards--grid {
      margin-top: 5%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 4fr;
      gap: 20px;
      align-content: center;
    }
  
  .cards {
  
      background-color: #fff;
      box-shadow: 0 0 4rem rgba(0, 0, 0, .1);
      border-radius: 1rem;
      background: rgb(255,255,255);
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(101,9,121,0.1407913507199755) 99%, rgba(251,251,251,1) 100%);
      
  }
  
  
  .card-content{
      font-size: 25px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      padding-left: 40px;
      padding-right: 40px;
  }
  
  #h2{
      font-size: 30px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;     
  }
  
  .reproductor{
      padding: 40px;
  }
  
  
  