/*header*/

.site-header{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align:center;
    color: black;
    max-width: max-content;
  
}


.site-navigation {

   background-color: rgb(0, 0, 0);
   padding: 10px;
   max-width: max-content;
   height: 40px;
   display:inline-block;
   align-content: center;
     
}

.site-navigation--menu {
 display:inline-block;
 box-sizing: border-box;
 align-content: center;
}

.elemento{
 display: inline-block;
 width: 100px;
 height: 30px;
 padding: 5px;
}

.site-navigation--menu.elemento {
  box-sizing: border-box;
   
   
 }
 .elemento a{
   display: inline-block;
   width: 100px;
   height: 30px;
   background-color: #E9E5FC;
   padding: 5px;  
   box-sizing: border-box;	
   
   
 }

 .elemento a:hover {
   
     background-color: paleturquoise;
     transition: background-color .5s;
     padding: 5px;
       }




/*tarjetas*/

.cards {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 2fr));
    gap: 20px;
    background-color: #fff;
    box-shadow: 0 0 4rem rgba(0, 0, 0, .1);
    border-radius: 1rem;
}
.cards article {
	position:relative;
	width: 3fr;
	padding-top: 30px;
	
}

.content{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    
}

#h2{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}